@page "/"

<PageTitle>Home</PageTitle>
<div style = "height: 75px; block; border-bottom: black solid 2px;">
    <div style = "font-size: 1.25em;padding-top: 20px; padding-bottom: 10px;text-align:center;">
        <a href="counter" style= "padding-right: 55px;">Counter</a> 
        <a href="calculator" style = "padding-left: 55px;">Calculator</a>
    </div>
   

</div>
<Counter />

<Calculator />
